



<div class="example-container">
  <h1>Register</h1>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>

  <br>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>

  <br>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>

  <br>

  <mat-form-field appearance="outline">
    <mat-label>Repeat Password</mat-label>
    <input matInput placeholder="Repeat Password">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>

  <br>

  <button type="button" mat-button>
    <span>Register</span>
  </button>

</div>
